@import '../styles/variables.scss';

.searchFilterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  cursor: pointer;
  font-family: $primaryFont;
  
  &:active {
    background-color: blue;
  }
  .searchFilterText {
    margin: 0;
    margin-left: 5px;
  }
}
