.homeContainer {
  width: 100vw;
  height: 100vh;
  .welcome {
    //   background-color: aqua;
    .inside {
      background-color: brown;
    }
  }
  .notWelcome {
    //   background-color: blueviolet;
  }
  .filtersContainer {
    display: flex;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-left: 1vw;
  }
}
