@import "../../styles/variables.scss";

.landingPageContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $borderColor;
}
.filtersContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 45px;
  height: 10%;
}

.menuContainer {
  display: flex;
  justify-content: flex-end;
}

.textContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;

  .textInfo{
    font-family: $primaryFont;
    height: 10px;
    color: $logoColor;
  }
  .textInfoDescriptionOff{
    font-family: $primaryFont;
    height: 10px;
    color: $white;
  }
  
}

.textContainer{
  
  .textInfoDescriptionOn{
    font-family: $primaryFont;
    height: 10px;
    color: $black;
  }
}


@media screen and (min-width: $mobile-breakpoint) {
  .filtersContainer {
    padding: 0px 100px;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .landingPageContainer {
    background-color: transparent;
  }
  .overlayContainer {
    background-color: $borderColor;
    margin: 10% auto;
    width: 50%;
    height: 30%;
  }

  .search {
    margin: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .filtersContainer {
    width: 35vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}
