.backgroundSliderContainer {
  height: 100%;
  width: 100%;
  z-index: -1;

  .eachSlide {
    height: 100vh;
  }
  .backgroundStyle {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .switchBackgroundIconContainer {
    display: flex;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 6;

    .iconContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.638);
      color: rgba(250, 250, 250, 0.702);
      margin-right: 4px;
      border-radius: 9%;
      cursor: pointer;
      font-size: 35px;
      width: 30px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.802);
        color: rgba(250, 250, 250, 0.9);
        //color:rgba(0, 0, 0, 0.802)
      }
    }
  }
}
.toggleButtonContainer {
  position: absolute;
  bottom: 5%;
  right: 1%;
}
