@import "styles/variables.scss";

.searchResultsList {
  margin: 0 auto;
}
.searchResultsList__link {
  text-decoration: none;
  color: black;
}

.headerContainer {
    display: flex;
    width: 40vw;

    .logoContainer {
        width: 40%;
    }

    .filterSearchContainer {
        display: flex;
        flex-direction: column;
        width: 60%;

        .search {
            height: 70%;
            display: flex;
            flex-direction: column-reverse;
        }

        .filters {
            display: flex;
            justify-content: space-between;
            height: 30%;
        }
    }
}

.paginationContainer {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: $mobile-breakpoint) {
  .searchResultsList {
    width: 75%;
  }

  .paginationContainer {
    min-width: fit-content;
    max-width: 50%;
    margin: 0 auto;
  }
}

