@import "styles/variables.scss";

.searchResultsList {
  margin: 0 auto;
}
.searchResultsList__link {
  text-decoration: none;
  color: black;
}


.headerContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 25vh;
    
  
    .filterSearchContainer {
        display: flex;
        flex-direction: column;
       

        .filters{
            display: flex;
            justify-content: space-between;
            padding: 0px 45px;
            height: 10%;

        }
    }
}

.paginationContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

@media screen and (min-width: $mobile-breakpoint) {

    .headerContainer {.filterSearchContainer {
        .filters{
            padding: 0px 100px;
        }
    }
}

  .searchResultsList {
    width: 75%;
  }

  .paginationContainer {
    min-width: fit-content;
    max-width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: $tablet-breakpoint){

    .headerContainer {
        flex-direction: row;
      
      .logoContainer{
          display: flex;
          align-items: flex-start;
          
          p{
              margin: 15px;
              font-size: 3em;
          }
      }
        .filterSearchContainer {
             display: flex;
             justify-content: flex-start;
             flex-direction: column;

           .search{
               margin: 30px;
               margin-bottom: 0px;
               margin-left: 0px;  
           }
    
            .filters{
                padding: 0px 30px 0px 0px; 
            }
        }
    }
}




