@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// colors

$logoColor: #856a26;
$white: #ffffff;
$overlayColor: rgba(13, 12, 12, 0.45);
$fontColor: #424242;
$borderColor: rgba(0, 0, 0, 0.5);

// fonts

$logoFont: "JustMandrawn";
$primaryFont: "Poppins", "sans-serif";

// job card
$font-size-title: 1.2rem;
$font-size-details: 0.85rem;
$font-family-card-company: $primaryFont;
$margin-bottom-card: 12px;
$jobCard-border-color: #cecece;
$jobTitle-border-color: #c7b577;

//pagination
$pagination-button-Bg: rgb(206, 203, 203);
$pagination-Bg: rgb(247, 244, 244);
//breakpoints media query
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
