@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// colors

$logoColor: #856a26;
$white: #ffffff;
$black: #000000;
$overlayColor: rgba(13, 12, 12, 0.45);
$fontColor: #424242;
$borderColor: rgba(0, 0, 0, 0.5);
$footerColor:rgba(196, 196, 196, 0.68);

// fonts

$logoFont: 'JustMandrawn';
$primaryFont: 'Poppins' , 'sans-serif';

// screens

$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint:1024px;

// job card
$font-size-title: 1.2rem;
$font-size-details: 0.85rem;
$font-family-card-company: $primaryFont;
$margin-bottom-card: 12px;
$jobCard-border-color: #cecece;
$jobTitle-border-color: #c7b577;


