@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// colors

$logoColor: #856a26;
$white: #ffffff;
$overlayColor: rgba(13, 12, 12, 0.45);

// fonts

$logoFont: "JustMandrawn";
$primaryFont: "Poppins", "sans-serif";

// job card
$font-size-title: 0.8rem;
$font-size-details: 0.65rem;
$font-family-card-company: MuseoModerno;
$margin-bottom-card: 12px;

//breakpoints media query
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
