@import "../../styles/variables.scss";

@font-face {
  font-family: "JustMandrawn";
  src: local("JustMandrawn"),
    url("../../assets/fonts/JustMandrawn.ttf") format("truetype");
}

.logo {
  display: flex;
  justify-content: center;
  color: $logoColor;
  font-family: $logoFont;
  font-size: 4em;
  margin: 0;
}
