@font-face {
    font-family: "JustMandrawn";
    src: local("JustMandrawn"),
     url("../../assets/fonts/JustMandrawn.ttf") format("truetype");
}

.logo {
    color: #856A26;
    font-family: 'JustMandrawn';
    font-size: 4em;
}