@import '../../styles/variables.scss';

.formSearchBar {
  display: flex;
  justify-content: center;
}

.searchInput {
  width: 70vw;
  margin-bottom: 20px;
  border-style: none;
  border-bottom: 1px solid $borderColor;
  font-size: 0.9rem;
}

.searchInput:focus {
  outline: none;
}

.searchButton {
  border-style: none;
  margin-bottom: 20px;
  background: transparent;
  border-bottom: 1px solid $borderColor;
  font-size: 1.1rem;
  color: $fontColor;
}


@media screen and (min-width: $tablet-breakpoint){
  .searchInput{
    width: 35vw;
  }

}
