@font-face {
    font-family: "JustMandrawn";
    src: local("JustMandrawn"),
     url("../assets/fonts/JustMandrawn.ttf") format("truetype");
}


.logo {
    color: red;
    font-family: 'JustMandrawn';
    font-size: 3em;
    
}